
@{
    ViewBag.Title = "AboutUs";
}


<main aria-labelledby="title">
    <style>
        body {
            background-image: url('https://thumbs.dreamstime.com/z/comic-book-background-12720608.jpg');
        }

        .center {
            width: 60%;
        }
    </style>
    <center>
        <br>
        <br>
        <br>
        <br>
        <br>
       
        <h2 id="title">@ViewBag.Title</h2>
        <div class="center">
            <p>
                Our comic business website is an online platform that sells comic books and related items.<br />
                It offers a wide selection of comics, digital versions, and helpful features like product descriptions and<br />
                <br />
                reviews.It's a convenient way for fans to buy their favorite titles and merchandise.
                A comic business website is an online platform that sells comic books and related items.<br />
                It offers a wide selection of comics, digital versions, and helpful features like product descriptions and
                <br />
                <br />

                <br />
                reviews. It's a convenient way for fans to buy their favorite titles and merchandise.
            </p>
        </div>
        <h3>Our Contact Page</h3>

        <address>
            Addresss:
            Comic Crush Ltd <br />
            Crystal Avenue , Sandton <br />
            <br/>
            <br title="Phone">Telephone:</br>
            011 758 9832
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:ComicCrush@example.com">ComicCrush@direct.com</a><br />
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@ComicCrush.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ComicCrush.com</a>
        </address>
        <br>
        <br>
        

    </center>
</main>

