@{
    ViewBag.Title = "Home Page";
}

<main>
    <style>
        body {
            background-image: url('/Content/Images/Home Page.jpg');
        }
    </style>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    
    
    
    
</main>
