@{
    ViewBag.Title = "Contact";
}

<style>
    .box {
        width: 70%;
        height: 400px;
        border: 5px solid #969696;
        border-radius: 30px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center
    }

    body {
        background-image: url('/Content/Images/Lastest Page.jpg');
    }

    img {
        width: auto;
        height: 390px;
        border-radius: 25px;
        margin-left: -20px;
    }

    p {
        margin-left: 20px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .row {
        padding: 40px;
    }

</style>

<body>

    <h2 style="text-align:center">Lastest News</h2>

  
        <div class="row">
            <div class="box">
                <img src="~/Content/Images/Lastest 1.jpg" alt="Lastest 1">
                <p>
                    <strong>
                        The "Mary Jane" comic book series focuses on Mary Jane's
                        life as a model and actress in New York City, her romantic
                        relationships, and her attempts to pursue her dreams while
                        dealing with the challenges that come with being in the public eye.
                        She is a skilled thief
                        and acrobat, and her solo comic book series focuses on her adventures
                        as she navigates the criminal underworld of New York City, often finding
                        herself in conflict with other superheroes and supervillains. The series
                        explores her complex motivations and relationships, as well as her
                        ongoing struggle to balance her criminal activities with her desire to
                        do the right thing.
                    </strong>
                    <br />
                <a href="https://www.marvel.com/comics/issue/103021/mary_jane_black_cat_2022_5" class="btn btn-primary btn-md" target="_blank">Read more &raquo;</a>
                </p>
            </div>
        </div>
    

    <div class="row">
        <div class="box">
            <img src="~/Content/Images/Lastest 2.jpg" alt="Lastest 2">
            <p>
                <strong>
                    Monica Rambeau, also known as Photon, is a Marvel Comics
                    character who possesses the ability to transform her body
                    into any form of electromagnetic energy. She first appeared
                    in The Amazing Spider-Man Annual #16 in 1982, and has since
                    become a prominent member of the Avengers and other superhero teams.
                    As Photon, Monica has the power to fly, project energy blasts, and
                    become intangible. She has used her abilities to fight a variety of
                    villains, from street-level criminals to cosmic entities. In addition
                    to her superhero activities, Monica has also worked as a police
                    officer and a S.H.I.E.L.D. agent.
                </strong>
                <br />
            <a href="https://www.marvel.com/comics/issue/101546/monica_rambeau_photon_2022_5" class="btn btn-primary btn-md" target="_blank">Read more &raquo;</a>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <img src="~/Content/Images/Lastest 3.jpg" alt="Lastest 3">
            <p>
                <strong>
                    "Avengers Beyond" is a Marvel Comics limited series that was
                    released in 2021. It follows a new team of Avengers who travel
                    through the multiverse to stop a threat that is destroying realities.
                    The team is led by the original Avengers member, Steve Rogers (also
                    known as Captain America), and includes a mix of familiar and new
                    characters.The series explores the concept of the multiverse and the
                    idea that there are countless versions of reality, each with its own
                    unique history and characters. It also delves into the relationships
                    between the characters and the challenges they face as they work
                    together to save the multiverse.
                </strong>
                <br />
            <a href="https://www.marvel.com/comics/issue/108305/avengers_beyond_2023_2" class="btn btn-primary btn-md" target="_blank">Read more &raquo;</a>
            </p>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <img src="~/Content/Images/Lastest 4.jpg" alt="Lastest 4">
            <p>
                <strong>
                    "Venom: Lethal Protector" was notable for its darker and more
                    mature tone compared to other comics of the time. It was also
                    one of the first series to depict Venom as an anti-hero rather
                    than a straight-up villain, paving the way for future storylines
                    that would explore the character's more heroic side. The series
                    has been adapted into video games and other media, and remains a
                    fan-favorite among Venom and Spider-Man fans.
                </strong>
                <br />
            <a href="https://www.marvel.com/comics/issue/106187/venom_lethal_protector_ii_2023_2" class="btn btn-primary btn-md" target="_blank">Read more &raquo;</a>
            </p>
        </div>
    </div>


</body>