@{
    ViewBag.Title = "Location";
}
<main aria-labelledby="title">
    <style>
        body {
            background-image: url('   https://us.123rf.com/450wm/piotrurakau/piotrurakau1801/piotrurakau180100096/93845634-comic-book-background-with-halftone-and-radial-effects-in-yellow-pink-blue-green-red-colors-in-pop.jpg?ver=6 ');
        }
    </style>
    <center>
        <h2 id="title">@ViewBag.Title</h2>
        <h3>Here are some locations of different comics book stores</h3>

        <p><mark>Use this map to find the nearest shop .</mark></p>
    </center>
    <center><iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d114504.4953110799!2d27.863976471312217!3d-26.25304593393578!3m2!1i1024!2i768!4f13.1!2m1!1scomics%20book%20stores%20in%20johannesburg!5e0!3m2!1sen!2sza!4v1682369605319!5m2!1sen!2sza" width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></center>

</main>